{% extends 'base.html' %}

{% block title %}
About Janik
{% endblock %}

{% block content %}
<!--- profile section --->
<div class="w-100 pt-3 bg-light">
	<div class="row d-flex justify-content-center">
		<!--- profile picture --->
		<div class="col-md-5 pt-2">
			<a class="hover-shadow">
				<div class="imageBox">
					<div class="imageInn align-items-end">
						<img src="pictures/photoshop/pb_janik.png" width="100%" height="auto" alt="Default Image">
					</div>
					<div class="hoverImg">
						<img src="pictures/photoshop/janik_ribbon.png" width="100%" height="auto" alt="Profile Image">
					</div>
				</div>
			</a>
		</div>
		<!--- profile picture --->

		<!--- profile text --->
		<div class="col-md-6 pt-2 text-monospace text-decoration-none d-flex justify-content-center align-items-center">
			<div class="d-flex justify-content-center me-7">
				<p class="black_heading_2">
					<span style="color: grey;">Hi, I'm </span>
					<span style="color: black;">Janik, </span><br>
					<span style="color: grey;">founder of <br></span>
					<span style="color: black;">Beri Partners.</span>
				</p>
			</div>
		</div>
		<!--- profile text --->
	</div>
</div>
<!--- profile section --->

<!--- about, gallery and quote --->
<div>
	<!--- black bg --->
	<div style="background-color: black;">
		<!--- About me --->
		<div class="container-sm">
			<div class="heading_2 pt-8">
				<span style="color: gray;">About me</span>
			</div>
			<div class="about_text mb-7">
				<span style="color: gray;">I started investing when I was </span>
				<span style="color: white;">19 years </span>
				<span style="color: gray;">old. It was actually </span>
				<span style="color: white;">Chris, co-founder of Beri Partners, </span>
				<span style="color: gray;">who got me interested in the topic by making me read an </span>
				<span style="color: white;">annual report </span>
				<span style="color: gray;">of a company called Regi Inc. However, if I'm being </span>
				<span style="color: white;">completely honest, </span>
				<span style="color: gray;">at that time I didn't understand a </span>
				<span style="color: white;">single word...</span>
			</div>
		</div>
		<!--- About me --->

		<!--- gallery --->
				<div class="row d-flex justify-content-center">
					<!-- Gallery -->
					<div class="row mt-7 mb-8" style="width:70%">
						<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
							<img
							src="pictures/photoshop/profil_janik/cards.jpg"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>

							<img
							src="pictures/photoshop/profil_janik/donauinsel.jpg"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>
						</div>

						<div class="col-lg-4 mb-4 mb-lg-0">
							<img
							src="pictures/photoshop/profil_janik/norway.jpg"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>

							<img
							src="pictures/photoshop/profil_janik/floating.jpg"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>
						</div>

						<div class="col-lg-4 mb-4 mb-lg-0">
							<img
							src="pictures/photoshop/profil_janik/rnb_face.jpg"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>

							<img
							src="pictures/photoshop/profil_janik/donaukanal.jpg"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>
						</div>
					</div>
				</div>
			<!-- Gallery -->
	</div>
	<!--- black bg --->

	<!--- quote --->
	<div class="lights-bg-image" style="height: 1600px;">
		<div class="row d-flex justify-content-center">
			<div class="col-md-6 mt-8">
				<p class="heading_2">
					<span style="color: gray;">My favourite quote.</span><br>
					<span style="color: gray;">It's only when </span>
					<span style="color: white;">the tide </span>
					<span style="color: gray;">goes out that </span>
					<span style="color: white;">you discover </span>
					<span style="color: gray;">who's been </span>
					<span style="color: white;">swimming naked.</span>
				</p>
			</div>
		</div>
	</div>
	<!--- quote --->
</div>
<!--- about, gallery and quote --->

<div class="bg-light">
	<!--- end of story 1 --->
	<div class="row d-flex justify-content-center">
		<div class="col-md-2 mt-8 me-6 p-5">
			<p class="black_heading_2 mt-5">Story <br>continued
			</p>
			<div class="row">
				<p class="bold_gray_text">
					In July of 2018, Chris and I each invested $1000 in Regi at an average price of roughly $16.50 per share. By September of the same year the stock had surged to $27.
					We sold our position. Our initial $1000 had turned into $1600 over the course of just three months. Making money is that easy...?
				</p>
			</div>
		</div>
		<div class="col-md-2 mt-8 me-6">
			<img
			src="pictures/photoshop/profil_janik/shoe.jpg"
			class="w-100"
			alt=""
			/>
		</div>
	</div>
	<!--- end of story 1 --->

	<!--- end of story 2 --->
	<div class="row d-flex justify-content-center mt-6">
		<div class="col-md-2 ms-6 mb-7">
			<img
			src="pictures/photoshop/profil_janik/rnb.jpg"
			class="w-100"
			alt=""
			/>
		</div>
		<div class="col-md-2 p-5 mb-7">
			<p class="black_heading_2">In retrospect
			</p>
			<div class="row pb-5">
				<p class="bold_gray_text">
					Now, four years and a dozen investing books later, I don't think we would have made the same decision again.
					Nevertheless, I don't now if I would have ever gotten interested in the stock market if it wasn't for this lucky pick.
				</p>
				<p class="bold_gray_text">
				Thanks for showing me this fascinating world Chris!
				</p>
				<p class="bold_gray_text">
					<span style="color: gray;">P.S. While writing this I checked the price of Regi for the first time since we sold our position. </span>
					<span style="color: black;">Oh my god... </span>
				</p>
			</div>
		</div>
	</div>
	<!--- end of story 2 --->
</div>

{% endblock %}
