{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block content %}

<div class="container-fluid p-0 bg-light">
	<img src="{{url_for('static', filename='images/bp_banner_hq.png')}}" class="img-fluid"></img>
</div>

<div class="container-fluid bg-light" style="height:1000px">

	<div class="row d-flex justify-content-center pt-5">
		<div class="col-md-4">
			<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
				<a type="button" href="{{ url_for('blog.blog', group_by='all', sort_by=sort_by, page=1) }}" class="btn btn-outline-dark btn-lg {% if group_by == 'all' %} active {% endif %}">All</a>
				<a type="button" href="{{ url_for('blog.blog', group_by='business', sort_by=sort_by, page=1) }}" class="btn btn-outline-dark btn-lg {% if group_by == 'business' %} active {% endif %}" class="btn btn-outline-danger btn-lg">Businesses</a>
				<a type="button" href="{{ url_for('blog.blog', group_by='book', sort_by=sort_by, page=1) }}" class="btn btn-outline-dark btn-lg {% if group_by == 'book' %} active {% endif %}" class="btn btn-outline-danger btn-lg">Book reviews</a>
				<a type="button" href="{{ url_for('blog.blog', group_by='annual', sort_by=sort_by, page=1) }}" class="btn btn-outline-dark btn-lg {% if group_by == 'annual' %} active {% endif %}" class="btn btn-outline-danger btn-lg">Annual letters</a>

				<div class="btn-group" role="group">
					<button id="btnGroupDrop1" type="button" class="btn btn-outline-dark btn-lg dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
					Sort
					</button>
					<ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
						<li><a class="dropdown-item {% if sort_by == 'date_desc' %} active {% endif %}" href="{{ url_for('blog.blog', group_by=group_by, sort_by='date_desc', page=page) }}">New to old</a></li>
						<li><a class="dropdown-item {% if sort_by == 'date_asc' %} active {% endif %}" href="{{ url_for('blog.blog', group_by=group_by, sort_by='date_asc', page=page) }}">Old to new</a></li>
						<li><a class="dropdown-item {% if sort_by == 'title_desc' %} active {% endif %}" href="{{ url_for('blog.blog', group_by=group_by, sort_by='title_desc', page=page) }}">A to Z</a></li>
						<li><a class="dropdown-item {% if sort_by == 'title_asc' %} active {% endif %}" href="{{ url_for('blog.blog', group_by=group_by, sort_by='title_asc', page=page) }}">Z to A</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

    {% if g.user %}
	<div class="d-flex align-items-center justify-content-center">
		<div class="d-flex align-items-center justify-content-center col-md-2">
			<a type="button" class="w-100 btn btn-lg btn-primary" href="{{ url_for('blog.create') }}">Create</a>
		</div>
	</div>
  {% endif %}

  <div class="container pt-5">
	  {% for post in posts %}
		<article class="col-md-12 all {{ post['category'] }}">
			<div class="bg-white row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col p-4 d-flex flex-column position-static">
					<strong class="d-inline-block mb-2" style="color:#e03444">{{ post['category'].capitalize() }}</strong>
					<h1>{{ post['title'] }}</h1>
					<div class="mb-1 text-muted">by {{ post['display_name'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
					{% if post['created'].strftime('%Y-%m-%d') != post['last_edit'].strftime('%Y-%m-%d') %}
					<div class="about font-italic">last edit on {{ post['last_edit'].strftime('%Y-%m-%d') }}{% endif %}
						{% if g.user['id'] == post['author_id'] or g.user['username'] == 'admin' %}
						<a class="action" href="{{ url_for('blog.update', id=post['id']) }}" class="text-decoration-none" style="color:#e03444">Edit</a>
						{% endif %}
						<a href="{{ url_for('blog.post', title=post['title']) }}" class="stretched-link text-decoration-none" style="color:#e03444">Read</a>
					</div>
					<div class="col-auto d-none d-lg-block">
						<svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><img src="{{url_for('static', filename='images/' + post['title_img_parent_dir'] + '/' + post['title_img'])}}" width='auto' height='250px'></img></svg>
					</div>
				</div>
		</article>
	  {% endfor %}
  </div>
  
  <div class="container d-flex justify-content-center mb-5">
	<a {% if (max_posts <= (page+1)*5) %} style="display:none;" {% endif %} type="button" class="btn btn-primary" href="{{ url_for('blog.blog', group_by=group_by, sort_by=sort_by, page=page+1) }}">Older Posts</a>
  </div>
 </div>
{% endblock %}
