{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% if g.user %}
	<a class="action" href="{{ url_for('blog.create') }}">New</a>
{% endif %}

{% block content %}
  {% if g.user %}
  <a type="button" class="btn" href="{{ url_for('blog.create') }}">Create</a>
  {% endif %}
  <div class="container">
	  {% for post in posts %}
		<article class="post">
		  <header>
			<div>
			  <h1>{{ post['title'] }}</h1>
			  <div class="about">by {{ post['display_name'] }} on {{ post['created'].strftime('%Y-%m-%d') }}</div>
			  {% if post['created'].strftime('%Y-%m-%d') != post['last_edit'].strftime('%Y-%m-%d') %}<div class="about font-italic">last edit on {{ post['last_edit'].strftime('%Y-%m-%d') }}{% endif %}
			</div>
			{% if g.user['id'] == post['author_id'] %}
			  <a class="action" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
			{% endif %}
		  </header>
		  <p class="body">{{ post['content'] }}</p>
		</article>
		{% if not loop.last %}
		  <hr>
		{% endif %}
	  {% endfor %}
  </div>
{% endblock %}