{% extends 'base.html' %}

  <h1>{% block title %}New Post{% endblock %}</h1>

{% block extensions %}
{{ pagedown.include_pagedown() }}
{% endblock %}

{% block content %}
<div class="container">


  <form method="POST" action="{{ url_for('blog.create') }}">
	{{ form.csrf_token }}
	{{ form.hidden_tag() }}
	<fieldset class="form-field">
	{{ form.title.label }} {{ form.title(size=20) }}
	{% if form.title.errors %}
		<ul class="errors">
		{% for error in form.title %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	</fieldset>
	
	<fieldset class="form-field">
	{{ form.content.label }} {{ form.content(rows=10) }}
	{% if form.content.errors %}
		<ul class="errors">
		{% for error in form.content.errors %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	</fieldset>
	
	<input type="submit" value="Publish">
	
  </form>
</div>
{% endblock %}