{% extends 'base.html' %}

{% block title %}
{{ post['title'] }}
{% endblock %}

{% block content %}

<div class="container-fluid bg-light pt-5"
	<div class="d-flex justify-content-center">
		<div class="row g-0">
			<img src="{{url_for('static', filename='images/bp_banner_hq.png')}}" width='auto' height='100%'></img>
		</div>
	</div>
</div>

<div class="container-fluid post bg-light">
	
	<div class="row d-flex justify-content-center pt-5">
		<div class="border rounded shadow col-md-7 m-5">
			<div class="row post_title d-flex justify-content-center pt-5">
				<div class="col-md-auto">
				{{ post['title'] }}
				</div>
			</div>
			
			{% if post['category'] == 'business' or post['category'] == 'valuation' %}
			<div class="disclaimer">
				None of this is investment advice, decide yourself. We are not liable for any losses you may make.
			</div>
			{% endif %}
			
			<div class="row post_info d-flex align-items-center justify-content-center">
				<div class="col-md-auto pt-2 pb-5">
					<div>Written by <a href="{{ url_for('user.profile', username=post['username']) }}">{{ post['display_name'] }}</a> on {{ post['created'] }}.</div>
					{% if post['created'].strftime('%Y-%m-%d') != post['last_edit'].strftime('%Y-%m-%d') %}<div>Last edit on {{ post['last_edit'] }}.</div>{% endif %}
				</div>
			</div>
				
			<div class="row post_pic d-flex align-items-center justify-content-center">
				<div class="col-md-8">
					<img src="{{url_for('static', filename='images/' + post['title_img_parent_dir'] + '/' + post['title_img'])}}" style="width:100%;"></img>
				</div>
			</div>
			
			<div class="row post_pic d-flex align-items-center justify-content-center pt-5">
				<div class="col-md-8 merri-font-flow pb-5">
					{{ post['content']|safe }}
				</div>
			</div>
			
		</div>
		
		{% if related_posts %}
		<div class="col-md-3 pt-4">
			<div class="row d-flex align-items-center justify-content-center pb-3">
				<div class="col-md-6 normal_text d-flex align-items-center justify-content-center">
					Related posts
				</div>
			</div>
			<div class="border rounded row d-flex align-items-center justify-content-center">
				{% for related_post in related_posts %}
				<div class="col-md-6 p-3">
					<div class=" small-text">{{ related_post['title'] }}</div>
					<div class=" small-text-gray">
						<div>Written by <a href="{{ url_for('user.profile', username=post['username']) }}">{{ related_post['display_name'] }}</a> on {{ related_post['created'].strftime('%Y-%m-%d') }}.</div>
					</div>
				</div>
				<div class="col-md-6">
					<img src="{{url_for('static', filename='images/' + related_post['title_img_parent_dir'] + '/' + related_post['title_img'])}}" style="width:100%;"></img>
				</div>
				<a href="{{ url_for('blog.post', title=related_post['title']) }}">Read</a>
				{% endfor %}
			</div>
		</div>
		{% endif %}
	
</div>
{% endblock %}