{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="POST" action="{{ url_for('blog.update', id=post['id']) }}" enctype="multipart/form-data">
	{{ form.hidden_tag() }}
	{{ form.csrf_token }}
	
	<fieldset class="form-field pt-5">
	{{ form.ticker.label }} {{ form.ticker(size=5) }}
	{% if form.ticker.errors %}
		<ul class="errors">
		{% for error in form.ticker.errors %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	</fieldset>
	
	<fieldset class="form-field">
	{{ form.title.label }} {{ form.title(size=20) }}
	{% if form.title.errors %}
		<ul class="errors">
		{% for error in form.title.errors %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	</fieldset>
	
	<fieldset class="form-field">
	{{ form.html_file.label }} {{ form.html_file() }}
	{% if form.html_file.errors %}
		<ul class="errors">
		{% for error in form.html_file.errors %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	</fieldset>
	
	<fieldset class="form-field">
	{{ form.pdf_file.label }} {{ form.pdf_file() }}
	{% if form.pdf_file.errors %}
		<ul class="errors">
		{% for error in form.pdf_file.errors %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	</fieldset>
	
	<fieldset class="form-field">
	{{ form.category.label }} {{ form.category(size=20) }}
	{% if form.category.errors %}
		<ul class="errors">
		{% for error in form.category.errors %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	</fieldset>
	
	<fieldset class="form-field">
	{{ form.related_to.label }} {{ form.related_to(size=20) }}
	{% if form.related_to.errors %}
		<ul class="errors">
		{% for error in form.related_to.errors %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul>
	{% endif %}
	</fieldset>
	
	<input type="submit" value="Update">
	
  </form>
  
  <form action="{{ url_for('blog.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure? This will delete the post forever. At least make sure you back it up!');">
  </form>
{% endblock %}