{% extends 'base.html' %}
									
{% block title %}
{{ post['title'] }}
{% endblock %}

{% block content %}

{% with title=post['title'], ticker=post['ticker'], url=request.url %}
	{% include 'share_buttons.html' %}
{% endwith %}

<div class="container-fluid p-0 bg-light">
		<a href="{{ url_for('blog.blog', group_by='all', sort_by='date_desc', page=1) }}">
			<img src="{{url_for('static', filename='images/paperweight_banner.png')}}" class="img-fluid"></img>
		</a>
</div>

<div class="container post p-0 bg-light">

	<div class="row d-flex justify-content-center pt-3 pb-3">
		<div class="p-0 col-md-7">
			<a type="button" class="btn btn-outline-dark" href="{{ url_for('blog.blog', group_by='all', sort_by='date_desc', page=1) }}">&#8592 Blog</a>
		</div>
		{% if related_posts %}
		<div class="col-md-3">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="col-md-6 normal_text d-flex align-items-center justify-content-center">
				</div>
			</div>
		</div>
		{% endif %}
	</div>

	<div class="row d-flex justify-content-center">
		<div class="border rounded shadow bg-white col-md-7 ms-5 mb-5 me-5 ps-5 pe-5">

			<div class="pt-6 post_title text-center">
				<span style="color:black">{{ post['title'] }}</span><span style="color:gray"> - {{ post['ticker'] }}</span>
			</div>

			<div class="post_info pt-2 pb-5 text-center">
				<div>Written by <a href="{{ url_for('user.profile', username=post['username']) }}" class="text-decoration-none" style="color:#e03444">{{ post['display_name'] }}</a> on {{ post['created'].strftime('%Y-%m-%d') }}.</div>
				{% if post['created'].strftime('%Y-%m-%d') != post['last_edit'].strftime('%Y-%m-%d') %}<div>Last edit on {{ post['last_edit'].strftime('%Y-%m-%d') }}.</div>{% endif %}
			</div>

			<div class="m-3 text-center">
				<img class="img-fluid" src="{{url_for('static', filename='images/' + post['title_img_parent_dir'] + '/' + post['title_img'])}}"></img>
			</div>

			<!--<div class="row d-flex justify-content-center pt-5">
				<div class="btn-group d-flex justify-content-center" role="group" style="width: 20%;">
					<a href="{{ url_for('blog.download_post', title=post['title'], filename=post['pdf_file']) }}" type="button" class="btn btn-outline-dark">Download</a>
				</div>
			</div>-->
			
			{% if post['category'] == 'business' or post['category'] == 'valuation' %}
			<div class="disclaimer row d-flex justify-content-center">
				<div class="border rounded-2 border-danger border-4 shadow-sm col-md-8 mt-5">
					<div class="d-flex justify-content-center important-notice pt-3 ps-3 pe-3">
						Important&nbsp;notice
					</div>
					<div class="disclaimer_text p-3">
						The Content is for informational purposes only, you should not construe any such information or other material as legal, tax, investment, financial,
						or other advice. Nothing contained on our Site constitutes a solicitation, recommendation, endorsement, or offer by SGI or any third party service 
						provider to buy or sell any securities or other financial instruments in this or in in any other jurisdiction in which such solicitation or offer 
						would be unlawful under the securities laws of such jurisdiction.
						<br><br>
						<a href="{{ url_for('disclaimer.disclaimer') }}" class="text-decoration-none" style="color:#e03444">
							Read the whole disclaimer here
						</a>
					</div>
				</div>
			</div>
			{% endif %}

			<div class="row post_pic d-flex align-items-center justify-content-center pt-5">
				<div id="html_text" class="col-md-10 post-content-flow pb-5">
					
				</div>
			</div>

		</div>

		{% if related_posts %}
		<div class="col-md-3 pt-4">
			<div class="row d-flex align-items-center justify-content-center pb-3">
				<div class="col-md-auto normal_text d-flex align-items-center justify-content-center">
					Related posts
				</div>
			</div>

			{% for related_post in related_posts %}
			<a class="btn" href="{{ url_for('blog.post', id=related_post['id']) }}">
				<div class="border bg-white rounded shadow-sm row d-flex align-items-center justify-content-center">
					<div class="col-md-6 p-3">
						<div class="small-text">{{ related_post['title'] }}</div>
						<div class="small-text-gray">
							<div>Written by {{ related_post['display_name'] }} on {{ related_post['created'].strftime('%Y-%m-%d') }}</div>
						</div>
					</div>
					<div class="col-md-6">
						<img src="{{url_for('static', filename='images/' + related_post['title_img_parent_dir'] + '/' + related_post['title_img'])}}" style="width:100%;"></img>
					</div>
				</div>
			</a>
			{% endfor %}
		</div>
		{% endif %}

	</div>
</div>
{% endblock %}
