{% extends 'base.html' %}

{% block title %}
Investing portfolio performance
{% endblock %}

{% block content %}
  <div class="container">
		<div class="catchy_phrase text-center text-muted pt-5 fs-6">Investing in the market is hard, let us do the work.</div>

		<div class="company_name text-center display-2 mb-5">Beri Partners</div>

	    <div class="row mb-5">
			<div class="col-md-6 pt-2 mt-5">
			  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col-auto d-none d-lg-block">
					<a class="hover-shadow" href="{{ url_for('user.profile', username='janik') }}">
						<div class="inner">
							<img src="{{ url_for('static', filename='images/profile/janik/pb.png') }}" width='700' height='auto'></img>
						</div>
					</a>
				</div>
			  </div>
			</div>

			<div class="col-md-6 pt-2 mt-5">
			  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
				<div class="col-auto d-none d-lg-block">
					<a class="hover-shadow" href="{{ url_for('user.profile', username='chris') }}">
						<div class="inner">
							<img src="{{url_for('static', filename='images/profile/chris/pb.png')}}" width='700' height='auto'></img>
						</div>
					</a>
				</div>
			  </div>
			</div>

		</div>

		<div class="performance_chart" id="chart">
		</div>
	</div>
{% endblock %}

{% block scripts %}
<script src="https://d3js.org/d3.v6.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="module">

// set the dimensions and margins of the graph
const margin = {top: 10, right: 30, bottom: 30, left: 60},
    width = $(document).width()/3 - margin.left - margin.right,
    height = $(document).height()/5 - margin.top - margin.bottom;

// append the svg object to the body of the page
const svg = d3.select("#chart")
  .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", `translate(${margin.left},${margin.top})`);

	// legend
	svg.append("circle").attr("cx",20).attr("cy",20).attr("r", 6).style("fill", "#69b3a2")
	svg.append("circle").attr("cx",20).attr("cy",50).attr("r", 6).style("fill", "#404080")
	svg.append("text").attr("x", 30).attr("y", 20).text("Portfolio").style("font-size", "15px").attr("alignment-baseline","middle")
	svg.append("text").attr("x", 30).attr("y", 50).text("S&P 500").style("font-size", "15px").attr("alignment-baseline","middle")



function tweenDash() {
  const l = this.getTotalLength(),
      i = d3.interpolateString("0," + l, l + "," + l);
  return function(t) { return i(t) };
}
function transition(path) {
  path.transition()
	  .ease(d3.easeExpInOut)
      .duration(10000)
      .attrTween("stroke-dasharray", tweenDash)
      .on("end", () => { d3.select(this).call(transition); });
}

const parseDate = d3.timeParse("%Y-%m-%d");
const formatPercent = d3.format(".0%");
const data = d3.csv("{{ url_for('static', filename='performance_measurement.csv') }}",

	// When reading the csv, I must format variables:
	  function(d){
		return { date: parseDate(d.date), name: d.name, value: +d.cum_return}
	  })
  .then(
	// Now I can use this dataset:

	  function(data) {

		const sumstat = d3.group(data, d => d.name);

		// Add X axis --> it is a date format
		const x = d3.scaleTime()
		  .domain(d3.extent(data, function(d) { return d.date; }))
		  .range([ 0, width ]);
		svg.append("g")
		  .attr("transform", `translate(0, ${height})`)
		  .call(d3.axisBottom(x).ticks(d3.timeMonth.every(2)).tickFormat(d3.timeFormat("%b %Y")));

		// Add Y axis
		const y = d3.scaleLinear()
		  .domain([0, d3.max(data, function(d) { return +d.value; })])
		  .range([ height, 0 ]);
		svg.append("g")
		  .call(d3.axisLeft(y).tickFormat(d => d + "%"));

		// color palette
		const color = d3.scaleOrdinal()
			.range(['#404080','#69b3a2','#4daf4a','#984ea3','#ff7f00','#ffff33','#a65628','#f781bf','#999999'])
		// Add the line
		svg.selectAll(".line")
		  .data(sumstat)
		  .join("path")
			.attr("fill", "none")
			.attr("stroke", function(d){ return color(d[0]) })
			.attr("stroke-width", 1.5)
			.attr("d", function(d){
			  return d3.line()
				.x(function(d) { return x(d.date); })
				.y(function(d) { return y(+d.value); })
				(d[1])
			})
			.call(transition);


	});

</script>
{% endblock %}
