{% extends 'base.html' %}

{% block title %}

	{% if user['username'] == 'janik' %}
	About Janik
	{% elif user['username'] == 'chris' %}
	About Chris
	{% endif %}

{% endblock %}

{% block content %}
<!--- profile section --->
<div class="w-100 pt-3 bg-light">
	<div class="row d-flex justify-content-center">
		<!--- profile picture --->
		<div class="col-md-5 pt-2">
			<div class="imageInn align-items-end">
				<img src="{{ url_for('static', filename='images/profile/' + user['username'] + '/pb.png') }}" width="100%" height="auto" alt="Founder of Beri Partners">
			</div>
		</div>
		<!--- profile picture --->
		
		<!--- profile text --->
		<div class="col-md-6 pt-2 text-monospace text-decoration-none d-flex justify-content-center align-items-center">
			<div class="d-flex justify-content-center me-7">
				<p class="black_heading_2">
					<span style="color: grey;">Hi, I'm </span>
					<span style="color: black;">{{ user['username'].capitalize() }}, </span><br>
					<span style="color: grey;">founder of </span><br>
					<span style="color: black;">Beri Partners.</span>
				</p>
			</div>
		</div>
		<!--- profile text --->
	</div>
</div>
<!--- profile section --->

<!--- about, gallery and quote --->	
<div>
	<!--- black bg --->	
	<div style="background-color: black;">
		<!--- About me --->	
		<div class="container-sm">
						<div class="heading_2 pt-8">
							<span style="color: gray;">About me</span>
						</div>
						<div class="about_text mb-7">
						{% if user['username'] == 'janik' %}
							<span style="color: gray;">I started investing when I was </span>
							<span style="color: white;">19 years </span>
							<span style="color: gray;">old. It was actually </span>
							<span style="color: white;">Chris, co-founder of Beri Partners, </span>
							<span style="color: gray;">who got me interested in the topic by making me read an </span>
							<span style="color: white;">annual report </span>
							<span style="color: gray;">of a company called Regi Inc. However, if I'm being </span>
							<span style="color: white;">completely honest, </span>
							<span style="color: gray;">at that time I didn't understand a </span>
							<span style="color: white;">single word...</span>
						{% elif user['username'] == 'chris' %}
							<span style="color: gray;">I was always interest in a lot of </span>
							<span style="color: white;">different</span>
							<span style="color: gray;">things. I</span>
							<span style="color: white;">programmed</span>
							<span style="color: gray;">a game,</span>
							<span style="color: white;">sang</span>
							<span style="color: gray;">songs, </span>
							<span style="color: white;">drew</span> 
							<span style="color: gray;">pictures, and </span>
							<span style="color: white;">studied</span>
							<span style="color: gray;">physics.</span>
							<span style="color: gray;">There was never a</span>
							<span style="color: white;">single thing</span>
							<span style="color: gray;">that I could</span>
							<span style="color: white;">focus </span>
							<span style="color: gray;">on for a long time.</span>
							<span style="color: gray;">How could I find a place in the </span>
							<span style="color: white;">specialized </span>
							<span style="color: gray;">world of today?</span>
							<span style="color: gray;">Now I know that in investing,</span>
							<span class="text-decoration-underline" style="color: white;">no knowledge is without use.</span>
						{% endif %}
							
						</div>
		</div>
		<!--- About me --->	
		
		<!--- gallery --->
				<div class="row d-flex justify-content-center">
					<!-- Gallery -->
					<div class="row mt-7 mb-8" style="width:70%">
					{% if user['username'] == 'janik' %}
						<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
							<img
							src="{{ url_for('static', filename='images/profile/janik/side/cards.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>

							<img
							src="{{ url_for('static', filename='images/profile/janik/side/donauinsel.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>
						</div>

						<div class="col-lg-4 mb-4 mb-lg-0">
							<img
							src="{{ url_for('static', filename='images/profile/janik/side/norway.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>

							<img
							src="{{ url_for('static', filename='images/profile/janik/side/floating.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>
						</div>

						<div class="col-lg-4 mb-4 mb-lg-0">
							<img
							src="{{ url_for('static', filename='images/profile/janik/side/rnb_face.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>

							<img
							src="{{ url_for('static', filename='donaukanal.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>
						</div>
		
						<img
							src="{{ url_for('static', filename='cards.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>
					{% elif user['username'] == 'chris' %}
						
					{% endif %}
					
					</div>
				</div>
			<!-- Gallery -->
	</div>
	<!--- black bg --->
	
	<!--- quote --->
	{% if user['username'] == 'janik' %}
	<div class="lights-bg-image" style="height: 1600px; background-image: url('{{ url_for ("static", filename="images/bg/lights_black.jpg") }}');">
		<div class="row d-flex justify-content-center">
			<div class="col-md-6 mt-8">
				<p class="heading_2">
				
					<span style="color: gray;">My favourite quote.</span><br>
					<span style="color: gray;">It's only when </span>
					<span style="color: white;">the tide </span>
					<span style="color: gray;">goes out that </span>
					<span style="color: white;">you discover </span>
					<span style="color: gray;">who's been </span>
					<span style="color: white;">swimming naked.</span>
					
				
				</p>
			</div>
			
		</div>
	</div>
	{% elif user['username'] == 'chris' %}
	<div class="lights-bg-image" style="height: 1600px;background-color:black;">
	<div class="container">
	
		<div class="text-center">
			<div class="display-5" style="color: gray;">What I'm studying</div>
			<div class="display-6" style="color: white;">Biology, Business, Physics, Math</div>
		</div>
	
		<div class="row">
			<div class="col-md-6 mt-8">
				<p class="heading_2">
					<div class="display-5" style="color: gray;">The most inspiring person</div>
					<div class="display-6" style="color: white;">Richard Feynman</div>
				</p>
			</div>
			<div class="col-md-4 mt-8">
				<img src="{{ url_for('static', filename='images/profile/chris/feynman.jpg') }}">
			</div>
		</div>
		

		<div class="text-center mt-8">
			<div class="display-5" style="color: gray;">What I like doing</div>
			<div class="display-6" style="color: white;">Cooking, Gardening</div>
		</div>
	
		
		<div class="row mt-8">
			<div class="col-md-4">
				<img src="{{ url_for('static', filename='images/profile/chris/feynman_lectures.jpg') }}" style="width:80%;">
			</div>
			<div class="col-md-6">
				<p class="heading_2">
					<div class="display-5" style="color: gray;">My favourite book</div>
					<div class="display-6" style="color: white;">The Feynman Lectures on Physics I</div>
				</p>
			</div>
		</div>
	</div>
	</div>
	{% endif %}
	<!--- quote --->
</div>
<!--- about, gallery and quote --->
{% if user['username'] == 'janik' %}
<div class="bg-light">
	<!--- end of story 1 --->
	<div class="row d-flex justify-content-center">
		<div class="col-md-2 mt-8 me-6 p-5">
			<p class="black_heading_2 mt-5">Story <br>continued
			</p>
			<div class="row">
				<p class="bold_gray_text">
					In July of 2018, Chris and I each invested $1000 in Regi at an average price of roughly $16.50 per share. By September of the same year the stock had surged to $27.
					We sold our position. Our initial $1000 had turned into $1600 over the course of just three months. Making money is that easy...?
				</p>
			</div>
		</div>
		<div class="col-md-2 mt-8 me-6">
			<img
			src="{{ url_for('static', filename='images/profile/' + user['username'] + '/story/1.jpg') }}"
			class="w-100"
			alt=""
			/>
		</div>
	</div>
	<!--- end of story 1 --->
	
	<!--- end of story 2 --->
	<div class="row d-flex justify-content-center mt-6">
		<div class="col-md-2 ms-6 mb-7">
			<img
			src="{{ url_for('static', filename='images/profile/' + user['username'] + '/story/2.jpg') }}"
			class="w-100"
			alt=""
			/>
		</div>
		<div class="col-md-2 p-5 mb-7">
			<p class="black_heading_2">In retrospect
			</p>
			<div class="row pb-5">
				<p class="bold_gray_text">
					Now, four years and a dozen investing books later, I don't think we would have made the same decision again.
					Nevertheless, I don't now if I would have ever gotten interested in the stock market if it wasn't for this lucky pick.
				</p>
				<p class="bold_gray_text">
				Thanks for showing me this fascinating world Chris!
				</p>
				<p class="bold_gray_text">
					<span style="color: gray;">P.S. While writing this I checked the price of Regi for the first time since we sold our position. </span>
					<span style="color: black;">Oh my god... </span>
				</p>
			</div>
		</div>
	</div>
	<!--- end of story 2 --->
</div>
{% endif %}


{% endblock %}
