{% extends 'base.html' %}

{% block title %}

	{% if user['username'] == 'janik' %}
	About Janik
	{% elif user['username'] == 'chris' %}
	About Chris
	{% endif %}

{% endblock %}

{% block content %}

	

<!--- profile section --->
<div class="container-fluid pt-3 bg-light">
	
	{% if user['username'] == 'janik' %}
	<div class="row d-flex justify-content-center">
	
		<div class="col-md-2">
		</div>
		<!--- profile picture --->
		<div class="col-md-auto d-block d-md-none d-xl-none d-xxl-none" style="height:2em;">
		</div>
		<div class="col-md-5 pt-2 d-flex align-items-end">
			<div class="imageInn d-flex align-items-end">
				<img src="{{ url_for('static', filename='images/profile/' + user['username'] + '/pb.png') }}" width="100%" height="auto" alt="Founder of Beri Partners">
			</div>
		</div>
		<!--- profile picture --->
		
		<!--- profile text --->
		<div class="order-first order-md-0  col-md-5 pt-2 text-monospace text-decoration-none d-flex align-items-center">
			<div class="black_heading_2">
				<span style="color: grey;">Hi, I'm </span>
				<span style="color: black;">{{ user['username'].capitalize() }}, </span><br>
				<span style="color: grey;">founder of </span><br>
				<span class="company_fat">Paper</span><span class="company_thin" style="color: grey;">weight</span>
			</div>
		</div>
		<!--- profile text --->
	</div>
	<!--- profile section --->
	
	{% elif user['username'] == 'chris' %}
	<div class="row p-0 m-0">
	
		<!--- profile text --->
		<div class="order-first order-md-0 col-md-5 pt-2 text-monospace text-decoration-none d-flex align-items-center justify-content-end">
			<div class="black_heading_2">
				<span style="color: grey;">Hi, I'm </span>
				<span style="color: black;">{{ user['username'].capitalize() }}, </span><br>
				<span style="color: grey;">founder of </span><br>
				<span class="company_fat">Paper</span><span class="company_thin" style="color: grey;">weight</span>
			</div>
		</div>
		<!--- profile text --->
	
		<!--- profile picture --->
		<div class="col-md-auto d-block d-md-none d-xl-none d-xxl-none" style="height:2em;">
		</div>
		<div class="col-md-5 pt-2 d-flex align-items-end">
			<div class="imageInn d-flex align-items-end">
				<img src="{{ url_for('static', filename='images/profile/' + user['username'] + '/pb.png') }}" width="100%" height="auto" alt="Founder of Beri Partners">
			</div>
		</div>
		<!--- profile picture --->
		
		<div class="col-md-2">
		</div>
		
	</div>
	{% endif %}
</div>
<!--- profile section --->

<!--- about, gallery and quote --->	
<div>
	<!--- black bg --->	
	<div style="background-color: black;">
		<!--- About me --->	
		<div class="d-flex justify-content-center">
			<div class="col-md-6">
				<div class="about_heading pt-8 ps-3 pe-3">
					<span style="color: gray;">About me.</span>
				</div>
				{% if user['username'] == 'janik' %}
				<div class="about_text mb-7 p-3">
					<span style="color: gray;">I started investing when I was </span>
					<span style="color: white;">19 years </span>
					<span style="color: gray;">old. It was actually </span>
					<span style="color: white;">Chris, co-founder of Beri Partners, </span>
					<span style="color: gray;">who got me interested in the topic by making me read an </span>
					<span style="color: white;">annual report </span>
					<span style="color: gray;">of a company called Regi Inc. However, if I'm being </span>
					<span style="color: white;">completely honest, </span>
					<span style="color: gray;">at that time I didn't understand a </span>
					<span style="color: white;">single word...</span>
				</div>
				{% elif user['username'] == 'chris' %}
				<div class="about_text mb-7 p-3">
					<span style="color: gray;">I was always interest in a lot of </span>
					<span style="color: white;">different</span>
					<span style="color: gray;">things. I</span>
					<span style="color: white;">programmed</span>
					<span style="color: gray;">a game,</span>
					<span style="color: white;">sang</span>
					<span style="color: gray;">songs, </span>
					<span style="color: white;">drew</span> 
					<span style="color: gray;">pictures, and </span>
					<span style="color: white;">studied</span>
					<span style="color: gray;">physics.</span>
					<span style="color: gray;">There was never a</span>
					<span style="color: white;">single thing</span>
					<span style="color: gray;">that I could</span>
					<span style="color: white;">focus </span>
					<span style="color: gray;">on for a long time.</span>
					<span style="color: gray;">How could I find a place in the </span>
					<span style="color: white;">specialized </span>
					<span style="color: gray;">world of today?</span>
					<span style="color: gray;">Now I know that in investing,</span>
					<span class="text-decoration-underline" style="color: white;">no knowledge is without use.</span>
				</div>
				{% endif %}
			</div>
		</div>
		<!--- About me --->	
		
		<!--- gallery --->
				<div class="d-flex justify-content-center">
					<!-- Gallery -->
					{% if user['username'] == 'janik' %}
					<div class="row mt-7 mb-8" style="width:70%">
						<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
							<img
							src="{{ url_for('static', filename='images/profile/janik/side/cards.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>

							<img
							src="{{ url_for('static', filename='images/profile/janik/side/donauinsel.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>
						</div>

						<div class="col-lg-4 mb-4 mb-lg-0">
							<img
							src="{{ url_for('static', filename='images/profile/janik/side/norway.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>

							<img
							src="{{ url_for('static', filename='images/profile/janik/side/floating.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>
						</div>

						<div class="col-lg-4 mb-4 mb-lg-0">
							<img
							src="{{ url_for('static', filename='images/profile/janik/side/rnb_face.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>

							<img
							src="{{ url_for('static', filename='images/profile/janik/side/donaukanal.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>
						</div>
					</div>
					{% elif user['username'] == 'chris' %}
					<div class="row mt-7 mb-8" style="width:70%">
						<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
							<img
							src="{{ url_for('static', filename='images/profile/chris/side/jacke.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>

							<img
							src="{{ url_for('static', filename='images/profile/chris/side/handstand.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>
						</div>

						<div class="col-lg-4 mb-4 mb-lg-0">
							<img
							src="{{ url_for('static', filename='images/profile/chris/side/model.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>

							<img
							src="{{ url_for('static', filename='images/profile/chris/side/chris_shoe.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>
						</div>

						<div class="col-lg-4 mb-4 mb-lg-0">
							<img
							src="{{ url_for('static', filename='images/profile/chris/side/bkick.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>

							<img
							src="{{ url_for('static', filename='images/profile/chris/side/lazy.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>
						</div>
					</div>
					{% endif %}
					
				</div>
			<!-- Gallery -->
			
			
	</div>
	<!--- black bg --->
	
	<!--- quote --->
	{% if user['username'] == 'janik' %}
	<div class="lights-bg-image" style="height: 1600px; background-image: url('{{ url_for ('static', filename='images/bg/lights_black.jpg') }}');">
		<div class="d-flex justify-content-center">
			<div class="col-md-6 mt-8 p-2">
				<p class="about_text">
				
					<span style="color: gray;">My favourite quote.</span><br>
					<span style="color: gray;">It's only when </span>
					<span style="color: white;">the tide </span>
					<span style="color: gray;">goes out that </span>
					<span style="color: white;">you discover </span>
					<span style="color: gray;">who's been </span>
					<span style="color: white;">swimming naked.</span>
					
				
				</p>
			</div>
			
		</div>
	</div>
	{% elif user['username'] == 'chris' %}
	<div class="lights-bg-image" style="height: 1900px;background-color:black;">
		<div class="container pt-7">
		
			<div class="text-center">
				<div class="small-text-gray-2" style="color: gray;">What I'm studying</div>
				<div class="heading_3" style="color: white;">Biology, Business, Physics, Math</div>
			</div>
			
			<div class="row d-flex justify-content-center mt-8">
				<div class="col-md-3">
					<img
					src="{{ url_for('static', filename='images/profile/chris/feynman.jpg') }}"
					class="w-100"
					alt=""
					/>
				</div>
				<div class="col-md-4 mt-5">
					<div class="row">
						<div class="small-text-gray-2" style="color: gray;">The most inspiring person</div>
						<div class="heading_3" style="color: white;">Richard Feynman</div>
					</div>
				</div>
			</div>
			
			<div class="row d-flex justify-content-center mt-7">
				<div class="col-md-2">
					<img
					src="{{ url_for('static', filename='images/profile/chris/gardening.jpg') }}"
					class="w-100"
					alt=""
					/>
				</div>
				<div class="order-first order-md-0 col-md-5 mt-5">
					<div class="row pb-4">
						<div class="small-text-gray-2" style="color: gray;">What I like doing</div>
						<div class="heading_3" style="color: white;">Gardening, Cooking</div>
					</div>
				</div>
				<div class="col-md-5">
					<img
					src="{{ url_for('static', filename='images/profile/chris/cooking.jpg') }}"
					class="w-100"
					alt=""
					/>
				</div>
			</div>
			
			<div class="row d-flex justify-content-center align-items-center mt-8">
				<div class="col-md-4 pb-5">
					<img
					src="{{ url_for('static', filename='images/profile/chris/feynman_lectures.jpg') }}"
					class="w-100"
					alt=""
					/>
				</div>
				<div class="col-md-3">
				</div>
				<div class="col-md-5">
					<div class="row pb-5">
						<div class="small-text-gray-2 align-middle" style="color: gray;">My favourite book</div>
						<div class="heading_3 align-middle" style="color: black;">The Feynman Lectures on Physics I</div>
					</div>
				</div>
			</div>
			
		
			
		</div>
	</div>
	{% endif %}
	<!--- quote --->
</div>
<!--- about, gallery and quote --->
{% if user['username'] == 'janik' %}
<div class="container-fluid bg-light">
	<!--- story 1 --->
	<div class="row d-flex justify-content-center pt-8">
		<div class="col-lg-4">
			<p class="black_heading_2 text-end mt-6">Story continued
			</p>
			<div class="col-lg-8 float-end mb-5">
				<p class="bold_gray_text text-end">
					In July of 2018, Chris and I each invested $1000 in Regi at an average price of roughly $16.50 per share. By September of the same year the stock had surged to $27.
					We sold our position. Our initial $1000 had turned into $1600 over the course of just three months. Making money is that easy...?
				</p>
			</div>
		</div>
		<div class="col-lg-2 d-flex align-items-center">
			<img
			src="{{ url_for('static', filename='images/profile/' + user['username'] + '/story/1.jpg') }}"
			style="width:100%;"
			alt=""
			/>
		</div>
		<div class="col-lg-1">
		<!--- for alignment --->
		</div>
	</div>
	<!--- end of story 1 --->
	
	<!--- story 2 --->
	<div class="row d-flex justify-content-center pt-5 pb-7">
		<div class="col-lg-2">
		<!--- for alignment --->
		</div>
		<div class="col-lg-2 d-flex align-items-center">
			<img
			src="{{ url_for('static', filename='images/profile/' + user['username'] + '/story/2.jpg') }}"
			style="width:100%;"
			alt=""
			/>
		</div>
		<div class="col-lg-4 pe-2">
			<p class="black_heading_2 mt-6">In retrospect
			</p>
			<div class="col-lg-8 mb-5">
				<p class="bold_gray_text">
					In July of 2018, Chris and I each invested $1000 in Regi at an average price of roughly $16.50 per share. By September of the same year the stock had surged to $27.
					We sold our position. Our initial $1000 had turned into $1600 over the course of just three months. Making money is that easy...?
				</p>
			</div>
		</div>
	</div>
	<!--- end of story 2 --->
	
</div>
{% endif %}


{% endblock %}
