{% extends 'base.html' %}

{% block title %}

	{% if user['username'] == 'janik' %}
	About Janik
	{% elif user['username'] == 'chris' %}
	About Chris
	{% endif %}

{% endblock %}

{% block content %}

	

<!--- profile section --->
<div class="container-fluid pt-3 bg-light">
	
	{% if user['username'] == 'janik' %}
	<div class="row d-flex justify-content-center">
	
		<div class="col-md-2">
			<!--- don't delete --->
		</div>
		<!--- profile picture --->
		<div class="col-md-auto d-block d-md-none d-xl-none d-xxl-none" style="height:2em;">
			<!--- don't delete --->
		</div>
		<div class="col-md-5 pt-2 d-flex align-items-end">
			<div class="imageInn d-flex align-items-end">
				<img src="{{ url_for('static', filename='images/profile/' + user['username'] + '/pb.png') }}" width="100%" height="auto" alt="Founder of Paperweight">
			</div>
		</div>
		<!--- profile picture --->
		
		<!--- profile text --->
		<div class="order-first order-md-0  col-md-5 pt-2 text-monospace text-decoration-none d-flex align-items-center">
			<div class="div-center">
				<span class="black_heading_3" style="color: grey;">Hi, I'm </span>
				<span class="black_heading_3" style="color: black;">{{ user['username'].capitalize() }}, </span><br>
				<span class="black_heading_3" style="color: grey;">founder of </span><br>
				<span class="company_fat">Paper</span><span class="company_thin" style="color: black;">weight</span>
			</div>
		</div>
		<!--- profile text --->
	</div>
	<!--- profile section --->
	
	{% elif user['username'] == 'chris' %}
	<div class="row p-0 m-0">
	
		<!--- profile text --->
		<div class="order-first order-md-0 col-md-5 pt-2 text-monospace text-decoration-none d-flex align-items-center justify-content-end">
			<div class="div-center">
				<span class="black_heading_3" style="color: grey;">Hi, I'm </span>
				<span class="black_heading_3" style="color: black;">{{ user['username'].capitalize() }}, </span><br class=" d-none d-md-block d-xl-block d-xxl-block">
				<span class="black_heading_3" style="color: grey;">founder of </span><br>
				<span  class="company_fat">Paper</span><span class="company_thin" style="color: black;">weight</span>
			</div>
		</div>
		<!--- profile text --->
	
		<!--- profile picture --->
		<div class="col-md-auto d-block d-md-none d-xl-none d-xxl-none" style="height:2em;">
			<!--- don't delete --->
		</div>
		<div class="col-md-5 pt-2 d-flex align-items-end">
			<div class="imageInn d-flex align-items-end">
				<img src="{{ url_for('static', filename='images/profile/' + user['username'] + '/pb.png') }}" width="100%" height="auto" alt="Founder of Paperweight">
			</div>
		</div>
		<!--- profile picture --->
		
		<div class="col-md-2">
			<!--- don't delete --->
		</div>
		
	</div>
	{% endif %}
</div>
<!--- profile section --->

<!--- about, gallery and quote --->	
<div>
	<!--- black bg --->	
	<div style="background-color: black;">
		<!--- About me --->	
		<div class="d-flex justify-content-center">
			<div class="col-md-6">
				<div class="about_heading pt-8 ps-3 pe-3">
					<span style="color: gray;">About me.</span>
				</div>
				{% if user['username'] == 'janik' %}
				<div class="about_text mb-7 p-3">
					<span style="color: gray;">I started investing when I was </span>
					<span style="color: white;">19 years </span>
					<span style="color: gray;">old. It was actually </span>
					<span style="color: white;">Chris, co-founder of Paperweight, </span>
					<span style="color: gray;">who got me interested in the topic by making me read an </span>
					<span style="color: white;">annual report </span>
					<span style="color: gray;">of a company called Regi Inc. However, if I'm being </span>
					<span style="color: white;">completely honest, </span>
					<span style="color: gray;">at that time I didn't understand a </span>
					<span style="color: white;">single word...</span>
				</div>
				{% elif user['username'] == 'chris' %}
				<div class="about_text mb-7 p-3">
					<span style="color: gray;">I'm not an  </span>
					<span style="color: white;">investor, physicist, singer, </span>
					<span style="color: gray;">or </span>
					<span style="color: white;">cook</span> 
					<span style="color: gray;">. Yet I do all those things. It's so difficult </span>
					<span style="color: white;">to choose</span>
					<span style="color: gray;">just one calling, when there's 
					<span style="color: white;">so many interesting things </span>
					<span style="color: gray;">to do in the world. </span>
					<span style="color: white;">I simply can't. </span>
					<span style="color: gray;">How was there ever going to be a place for me in the specialized world of today? </span>
					<span style="color: white;">Turns out that in investing, </span>
					<span class="text-decoration-underline" style="color: white;">no knowledge is without use.</span>
				</div>
				{% endif %}
			</div>
		</div>
		<!--- About me --->	
		
		<!--- gallery --->
				<div class="d-flex justify-content-center">
					<!-- Gallery -->
					{% if user['username'] == 'janik' %}
					<div class="row mt-7 mb-8" style="width:70%">
						<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
							<img
							src="{{ url_for('static', filename='images/profile/janik/side/cards.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>

							<img
							src="{{ url_for('static', filename='images/profile/janik/side/donauinsel.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>
						</div>

						<div class="col-lg-4 mb-4 mb-lg-0">
							<img
							src="{{ url_for('static', filename='images/profile/janik/side/norway.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>

							<img
							src="{{ url_for('static', filename='images/profile/janik/side/floating.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>
						</div>

						<div class="col-lg-4 mb-4 mb-lg-0">
							<img
							src="{{ url_for('static', filename='images/profile/janik/side/rnb_face.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>

							<img
							src="{{ url_for('static', filename='images/profile/janik/side/donaukanal.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>
						</div>
					</div>
					{% elif user['username'] == 'chris' %}
					<div class="row mt-7 mb-8" style="width:70%">
						<div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
							<img
							src="{{ url_for('static', filename='images/profile/chris/side/jacke.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>

							<img
							src="{{ url_for('static', filename='images/profile/chris/side/handstand.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>
						</div>

						<div class="col-lg-4 mb-4 mb-lg-0">
							<img
							src="{{ url_for('static', filename='images/profile/chris/side/model.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>

							<img
							src="{{ url_for('static', filename='images/profile/chris/side/chris_shoe.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>
						</div>

						<div class="col-lg-4 mb-4 mb-lg-0">
							<img
							src="{{ url_for('static', filename='images/profile/chris/side/bkick.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>

							<img
							src="{{ url_for('static', filename='images/profile/chris/side/lazy.jpg') }}"
							class="w-100 shadow-1-strong rounded mb-4"
							alt=""
							/>
						</div>
					</div>
					{% endif %}
					
				</div>
			<!-- Gallery -->
			
			
	</div>
	<!--- black bg --->
	
	<!--- quote --->
	{% if user['username'] == 'janik' %}
	<div class="lights-bg-image" style="height: 1600px; background-image: url('{{ url_for ('static', filename='images/bg/lights_black.jpg') }}');">
		<div class="d-flex justify-content-center">
			<div class="col-md-6 mt-8 p-2">
				<p class="about_text">
				
					<span style="color: gray;">My favourite quote.</span><br>
					<span style="color: gray;">It's only when </span>
					<span style="color: white;">the tide </span>
					<span style="color: gray;">goes out that </span>
					<span style="color: white;">you discover </span>
					<span style="color: gray;">who's been </span>
					<span style="color: white;">swimming naked.</span>
					
				
				</p>
			</div>
			
		</div>
	</div>
	{% elif user['username'] == 'chris' %}
	<div class="bg-light" style="height: 1900px;background-color:black;">
		<div class="container mt-7">
		
			<div class="display-4 mb-3" style="color:black;">What I'm studying</div>
			<div class="accordion" id="studyAccordion">
			  <div class="accordion-item">
				<h2 class="accordion-header" id="headingBiology">
					<button class="accordion-button accordion-button-biology collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBiology" aria-expanded="true" aria-controls="collapseBiology">
						Biology
					</button>
				</h2>
				<div id="collapseBiology" class="accordion-collapse collapse" aria-labelledby="headingBiology" data-bs-parent="#studyAccordion">
					<div class="accordion-body">
						Have you ever thought how weird it is that every day, we fall unconcious for 8 hours straight? 
						That's called sleep and yes, you need it. 
						I did try for 2 weeks to do something called uberman sleep schedule, where every 4 hours, you sleep for 20 minutes and just leave out all that 8 hour thing. 
						Needless to say, I'm now a strong believer in 8 hours of sleep. 
						I just had to stray and figure it out for myself. 
						<b>Don't try that at home. People have died from too little sleep. This is seriously dangerous.</b> <i>Awww man</i>, I shouldn't have told you ...
					</div>
					
				</div>
			  </div>
			  <div class="accordion-item">
				<h2 class="accordion-header" id="headingInvesting">
					<button class="accordion-button accordion-button-investing" type="button" data-bs-toggle="collapse" data-bs-target="#collapseInvesting" aria-expanded="true" aria-controls="collapseInvesting">
						Investing
					</button>
				</h2>
				<div id="collapseInvesting" class="accordion-collapse collapse show" aria-labelledby="headingInvesting" data-bs-parent="#studyAccordion">
					<div class="accordion-body">
						Change the world with <b>Elon Musk</b>, launch the world into the digital age with <b>Bill Gates, Sergey Brin & Larry Page</b>, or launch a whole country into the middle class with <b>Jack Ma</b>.
						Choose your fighter & what you believe in, simply by buying some (nowadays electronic) piece of paper. 
						It's <i>ridiculous</i>. We should really be grateful to the hardworking leaders & employees, since they do not only make us rich, but also society as a whole.
					</div>
				</div>
			  </div>
			  <div class="accordion-item">
				<h2 class="accordion-header" id="headingPhysics">
					<button class="accordion-button accordion-button-physics collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePhysics" aria-expanded="true" aria-controls="collapsePhysics">
						Physics
					</button>
				</h2>
				<div id="collapsePhysics" class="accordion-collapse collapse" aria-labelledby="headingPhysics" data-bs-parent="#studyAccordion">
					<div class="accordion-body">
						<ul>
							<li>Why is the sky blue?</li>
							<li>Why does soup cool down when you blow on it?</li>
							<li>How does a plant grow?</li>
							<li>How does a car work? What about a plane? How to build a rocket?</li>
							<li>When, and why, does it rain?</li>
							<li>Why can ice be both the most sticky thing (ever touched dry ice with your tongue?) and yet we can also ice skate on it?</li>
							<li>How does a battery work?</li>
							<li>It never stops. It just goes on. How amazing is that?</li>
						</ul>
						Everything in this world boils down to phyics and can, at least to some degree of understanding, be answered with physics. And I'm a curious man.
					</div>
				</div>
			  </div>
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingMathematics">
						<button class="accordion-button accordion-button-math collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMathematics" aria-expanded="true" aria-controls="collapseMathematics">
							Mathematics
						</button>
					</h2>
					<div id="collapseMathematics" class="accordion-collapse collapse" aria-labelledby="headingMathematics" data-bs-parent="#studyAccordion">
						<div class="accordion-body">
							There's a fundamental similarity to the way we think about different stuff, and the way we solve problems. 
							Mathematics is the language of modern problem solving. 
							It permeates all disciples, they have all been influenced by this way of thinking. 
							It makes me so sad to see a disinterest in the topic, when in effect, there's just a language barrier. 
							Math is the most useful tool. There was never even a contender for 2nd place.
						</div>
					</div>
			  </div>
			</div>
			
			<div class="row d-flex justify-content-center mt-8">
				<div class="col-md-3">
					<img
					src="{{ url_for('static', filename='images/profile/chris/feynman.jpg') }}"
					class="w-100"
					alt=""
					/>
				</div>
				<div class="col-md-4 mt-5">
					<div class="row">
						<div class="small-text-gray-2" style="color: gray;">The most inspiring person</div>
						<div class="heading_3" style="color: black;">Richard Feynman</div>
						<div style="color: grey;">
							In a way he might have been the ultimate scientist. Tried to boil things down
							to as simple as they could be, <span style="text-decoration:underline;">never</span>
							took gibberish from authority. Try to read his book: "Surely you're joking, Mr. Feynman!".
							He is one of the most respected people in physics for a reason.
						</div>
					</div>
				</div>
			</div>
			
			<div class="row d-flex justify-content-center mt-7">
				<div class="order-first order-md-0 col-md-5 mt-5 mb-4" style="color: white;">
					<h1 class="display-5 mb-4" style="color:black;">What I like doing</h1>
					<h2 style="color:black;">Cooking</h2>
					<div style="color:grey;">Oh god, the physicist cooks too?</div>
					<h2 style="color:black;">Gardening</h2>
					<div style="color:grey;">So far those experiments have been failures.</div>
					<h2 style="color:black;">Reading</h2>
					<div style="color:grey;">Give me a good book about <i>any</i> topic if you don't want to talk to me.</div>
					<h2 style="color:black;">Sports</h2>
					<div style="color:grey;">This is just here because I <i>should</i> be doing it.</div>
				</div>
				<div class="col-md-5">
					<img
					src="{{ url_for('static', filename='images/profile/chris/cooking.jpg') }}"
					class="w-100"
					alt=""
					/>
				</div>
			</div>
			
			<div class="row d-flex justify-content-center align-items-center mt-7">
				<div class="col-md-4 pb-5">
					<img
					src="{{ url_for('static', filename='images/profile/chris/feynman_lectures.jpg') }}"
					class="w-100"
					alt=""
					/>
				</div>

				<div class="col-md-5">
					<div class="row pb-5">
						<div class="small-text-gray-2 align-middle" style="color: gray;">My favourite book</div>
						<div class="heading_3 align-middle" style="color: black;">The Feynman Lectures on Physics</div>
						<div>I went from 0% interested to studying physics at university with this book. Do I need to say anything else?</div>
					</div>
				</div>
			</div>
			
		
			
		</div>
	</div>
	{% endif %}
	<!--- quote --->
</div>
<!--- about, gallery and quote --->
{% if user['username'] == 'janik' %}
<div class="container-fluid bg-light">
	<!--- story 1 --->
	<div class="row d-flex justify-content-center pt-8">
		<div class="col-lg-4">
			<p class="black_heading_2 text-end mt-6">Story continued
			</p>
			<div class="col-lg-8 float-end mb-5">
				<p class="bold_gray_text text-end">
					In July of 2018, Chris and I each invested $1000 in Regi at an average price of roughly $16.50 per share. By September of the same year the stock had surged to $27.
					We sold our position. Our initial $1000 had turned into $1600 over the course of just three months. Making money is that easy...?
				</p>
			</div>
		</div>
		<div class="col-lg-2 d-flex align-items-center">
			<img
			src="{{ url_for('static', filename='images/profile/' + user['username'] + '/story/1.jpg') }}"
			style="width:100%;"
			alt=""
			/>
		</div>
		<div class="col-lg-1">
		<!--- for alignment --->
		</div>
	</div>
	<!--- end of story 1 --->
	
	<!--- story 2 --->
	<div class="row d-flex justify-content-center pt-5 pb-7">
		<div class="col-lg-2">
		<!--- for alignment --->
		</div>
		<div class="col-lg-2 d-flex align-items-center">
			<img
			src="{{ url_for('static', filename='images/profile/' + user['username'] + '/story/2.jpg') }}"
			style="width:100%;"
			alt=""
			/>
		</div>
		<div class="col-lg-4 pe-2">
			<p class="black_heading_2 mt-6">In retrospect
			</p>
			<div class="col-lg-8 mb-5">
				<p class="bold_gray_text">
					Now, four years and a dozen investing books later, I don't think we would have made the same decision again. Nevertheless, I don't now if I would have ever gotten interested in the stock market if it wasn't for this lucky pick.
					Thanks for showing me this fascinating world Chris!
					P.S. While writing this I checked the price of Regi for the first time since we sold our position. <span style="color: black;"> Oh my god... </span>
				</p>
			</div>
		</div>
	</div>
	<!--- end of story 2 --->
	
</div>
{% endif %}


{% endblock %}
